:root {
    --background-colour: rgb(48, 45, 54);
    --footer-colour: rgb(62, 58, 70);
    --book-colour: rgb(255, 255, 255);
    --book-border: #f5d7b5;
    --border-radius: 8px;
    --grid-gap: 50px;
    --grid-margin: 20px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  

body {
    display: flex;
    flex-direction: column;
    background-color: #f3ede6;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-shadow: var(--shadow);
    margin: 20px;
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--background-colour);
    font-size: 28px;
    font-weight: 800;
    color: white;
    box-shadow: var(--shadow)
}

#book-space {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-book-button {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid var(--background-colour);
    color: var(--background-colour);
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 20px;

}

#add-book-button:hover {
    background-color: var(--background-colour);
    color: #ffffff;
    border: 2px solid white;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    background-color: var(--footer-colour);
    margin-top: 30px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 15%;
}

#close-button {
    background-color: var(--background-colour);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Styles for the form inside the modal */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
}

.isRead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}


button[type="submit"] {
    background-color: var(--background-colour);
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: var(--grid-gap);
    margin-top: var(--grid-margin);
  }

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid var(--book-border);
    padding: 20px;
    color: var(--background-colour);
    background-color: var(--book-colour);
    margin: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#toggleRead, .deleteButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d8e1e7;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    width: 75%;
}

#toggleRead.active {
    background-color: #077027;
}

.bookTitleName,
.bookAuthorTitle {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 500;
}

.bookName,
.bookAuthor {
    margin-bottom: 20px;
}

.deleteButton {
    border: none;
    background-color: red;
}